@import "tailwindcss";

@source "../../common/src/**/*.html";
@source "../../common/src/**/*.ts";
@source "./**/*.html";
@source "./**/*.ts";

@import "../../common/src/styles/theme.css";

.glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
